<h1>Viewing text of <%= @page_text.page.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page_text.name %>
</p>

<p>
  <b>Content:</b>
  <%= @page_text.content %>
</p>


<%= link_to 'Edit', edit_page_text_path(@page_text) %> |
<%= close_page_text_link %>