<%= form_for(@page_file) do |f| %>
  <% if @page_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_file.errors.count, "error") %> prohibited this page_file from being saved:</h2>

      <ul>
      <% @page_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path, :size => get_pathfield_size %>
  </div>
  <div class="field">
		<!-- FIXME: replace by file_field -->
    <%= f.label :source_path %><br />
    <%= f.text_field :source_path, :size => get_pathfield_size %>
  </div>
	<%= f.hidden_field :page_id, :value => @page_file.page_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
