<h1>Viewing file of <%= @page_file.page.name %></h1>

<p>
  <b>Name:</b>
  <%= @page_file.name %>
</p>

<p>
  <b>Path:</b>
  <%= @page_file.path %>
</p>

<p>
  <b>Source path:</b>
  <%= @page_file.source_path %>
</p>


<%= link_to 'Edit', edit_page_file_path(@page_file) %> |
<%= close_page_file_link %>
