<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @site_text.site_id %>
</p>

<p>
  <b>Content:</b>
  <%= @site_text.content %>
</p>


<%= link_to 'Edit', edit_site_text_path(@site_text) %> |
<%= link_to 'Back', site_texts_path %>
