<h1>Viewing global file of <%= @site_file.site.name %></h1>

<p>
  <b>Name:</b>
  <%= @site_file.name %>
</p>

<p>
  <b>Path:</b>
  <%= @site_file.path %>
</p>


<%= link_to 'Edit', edit_site_file_path(@site_file) %> |
<%= close_site_file_link %>
