<h1><%= @site.name %> requires</h1>

<div class="template">
	<p>Template:<br />
	<%= @site.template %></p>  <!-- FIXME: did not work... text_area :template, @site.template, :disabled => true %>
   -->
</div>

<div id="site_texts">
	<h2>Site texts:</h2>
	<%= link_to 'New site text', :action => :new_site_text, :id => @site.id %>
</div>

<div id="site_files">
	<h2>Site files:</h2>
	<%= link_to 'New site file', :action => :new_site_file, :id => @site.id %>
</div>

<%= close_link %>
