<h1><%= @site.name %> requires</h1>

<%= form_for(@site) do |f| %>
	<div class="field">
	  <%= f.label :template %><br />
	  <%= f.text_area :template, :disabled => true %>
	</div>
<% end %>

<div id="site_texts">
	<h2>Site texts:</h2>
	<%= link_to 'New site text', :action => :new_site_text, :id => @site.id %>
</div>

<div id="site_files">
	<h2>Site files:</h2>
	<%= link_to 'New site file', :action => :new_site_file, :id => @site.id %>
</div>

<%= close_link %>
