<h1><%= @site.name %> requires</h1>

<%= form_for(@site) do |f| %>
	<div class="field">
	  <%= f.label :template %><br />
	  <%= f.text_area :template, :disabled => true, :size => get_textarea_size %>
	</div>

	<div id="site_texts">
		<h2>Site texts:</h2>
		<% if @site.site_texts %>
			<table>
				<tr>
					<th>Name</th>
					<th>Content</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			<% @site.site_texts.each do |site_text| %> <!-- FIXME: use fields_for -->
				<tr>
					<td><%= site_text.name %></td>
					<td><%= truncate(site_text.content, :length => 50) %></td>
					<td><%= link_to 'View', site_text_path(site_text) %></td>
					<td><%= link_to 'Edit', edit_site_text_path(site_text) %></td>
					<td><%= link_to 'Destroy', site_text, :confirm => 'Are you sure?', :method => :delete %></td>
				</tr>
			<% end %>
			</table>
		<% end %>

		<%= link_to 'New site text', new_site_text_path(:site_id => @site) %>
	</div>
<% end %>

<div id="site_files">
	<h2>Site files:</h2>
	<% if @site.site_files %>
		<table>
			<tr>
				<th>Name</th>
				<th>Path</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		<% @site.site_files.each do |site_file| %> <!-- FIXME: use fields_for -->
			<tr>
				<td><%= site_file.name %></td>
				<td><%= truncate(site_file.path, :length => 50) %></td>
				<td><%= link_to 'View', site_file_path(site_file) %></td>
				<td><%= link_to 'Edit', edit_site_file_path(site_file) %></td>
				<td><%= link_to 'Destroy', site_file, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
		</table>
	<% end %>

	<%= link_to 'New site file', new_site_file_path(:site_id => @site) %>
</div>

<%= close_link %>
